@model PagedList.PagedList<WebBanHangOnline.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}
<!-- Slider -->
<link href="~/Content/servers/css/rutgonnoidung.css" rel="stylesheet" />
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Testimonial</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white">Tin tức</li>
    </ol>
</div>
<!-- Single Page Header End -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-12">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="row row-item-new">
                            <div class="col-md-3">
                                <div class="img-box">
                                    <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Title" height="163" width="260" /></a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="content-box">
                                    <h5><a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h5>
                                    <div class="description-box">
                                        @item.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6" style="text-align:right;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script>
        $(document).on("click", ".pagination a", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");

            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $("#product-container").html(result);
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi tải dữ liệu.");
                }
            });
        });
        $(document).ready(function() {
            // Load số lượng giỏ hàng khi trang được tải
            updateCartCount();

            // Hàm cập nhật số lượng giỏ hàng
            function updateCartCount() {
                $.get('@Url.Action("ShowCount", "ShoppingCart")', function(data) {
                    $('#cartCount').text(data.Count);
                }).fail(function() {
                    console.error('Không thể cập nhật số lượng giỏ hàng');
                });
            }

            // Gọi hàm này sau khi thêm sản phẩm thành công
            window.updateCartCount = updateCartCount;
        });
    </script>
}
