@model WebBanHangOnline.Models.EF.Category
@{ ViewBag.Title = "Cập nhật danh mục";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Sửa tài khoản người quản trị</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
                        {
            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false)
                        <form class="" action="" method="post" novalidate>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Tên danh mục <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên danh mục" })
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Alias <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextBoxFor(x => x.Alias, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Liên kết <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Mô tả <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">SeoTitle <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextAreaFor(x => x.SeoTitle, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">SeoDescription <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">SeoKeywords <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Thứ tự xuất hiện <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextBoxFor(x => x.Position, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' class="btn btn-success">Sửa</button>
                                        <a href="/Admin/Category" class="btn btn-primary">Trở lại</a>
                                    </div>
                                </div>
                            </div>
                        </form>}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@section scripts{
    <script src="~/Scripts/jsConvert.js"></script>
}