@model WebBanHangOnline.Models.EF.Category
@{ ViewBag.Title = "Cập nhật danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/admin">Trang chủ</a> /</span> @ViewBag.Title</h4>

    <!-- Basic Layout -->

    @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { id = "form-add" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">@ViewBag.Title</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Tên danh mục</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Tên danh mục", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Thứ tự xuất hiện</label>
                            @Html.TextBoxFor(x => x.Position, new { @class = "form-control", placeholder = "Thứ tự xuất hiện", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">SeoTitle</label>
                            @Html.TextBoxFor(x => x.SeoTitle, new { @class = "form-control", placeholder = "SeoTitle", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">SeoKeywords</label>
                            @Html.TextBoxFor(x => x.SeoKeywords, new { @class = "form-control", placeholder = "SeoKeywords", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Giới thiệu ngắn</label>
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 3, required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="form-check mt-3">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input", @checked = "checked" })
                            <label class="form-check-label">Hiển thị lên menu</label>
                        </div>
                        <!-- Nút submit -->
                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <a href="/admin/category" type="button" class="btn rounded-pill btn-outline-secondary">Trở lại</a>
                                <button type="submit" class="btn rounded-pill btn-outline-success">Sửa lại</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- / Content -->

@section scripts {
    <script>
        $(document).ready(function () {
            $('#form-add').parsley(); // Khởi động parsley
        });
    </script>
    <script>
        $('form').on('submit', function (e) {
            console.log('Form is submitting');
        });
    </script>
}