@model WebBanHangOnline.Models.EF.Product
@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.SeoKeyWord = Model.SeoKeywords ?? Model.Title;
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">
@if (Model != null)
{
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Chi tiết sản phẩm</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
            <li class="breadcrumb-item active text-white">@ViewBag.Title</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-6">
                    <div class="row g-4">
                        <!--Hình ảnh sản phẩm-->
                        <div class="col-lg-6">
                            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    @{
                                        int i = 0;
                                        foreach (var img in Model.ProductImage)
                                        {
                                            var isActive = (i == 0) ? "active" : "";
                                            <div class="carousel-item @isActive">
                                                <img src="@img.ImageUrl" class="d-block w-100 rounded" alt="@Model.Title">
                                            </div>
                                            i++;
                                        }
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <!--Chi tiết sản phẩm-->
                        <div class="col-lg-6">
                            <h2 class="fw-bold mb-3">@Model.Title</h2>
                            <p class="mb-3">Mã sản phẩm: @Model.ProductCode</p>
                            <p class="mb-3">Danh mục sản phẩm: @Model.ProductCategory.Title</p>
                            @if (@Model.PriceSale > 0)
                            {
                                <p class="text-dark fs-5 fw-bold mb-0">
                                    @WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale, 0) đ
                                    <span class="old-price ms-2 text-muted text-decoration-line-through">
                                        @WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0) đ
                                    </span>
                                </p>
                            }
                            else
                            {
                                <p class="text-dark fs-5 fw-bold mb-0">
                                    @WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0) đ
                                </p>
                            }

                            <h5 class="fw-bold mb-3"> </h5>
                            @*<div class="d-flex mb-4">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                        </div>*@
                            <p class="mb-4">@Model.Description</p>
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="action-buttons d-flex gap-2">
                                <a href="javascript:;" class="btn border border-secondary rounded-pill px-3 text-primary btnAddToCart" data-id="@Model.Id" title="Thêm vào giỏ hàng">
                                    <i class="fa fa-shopping-bag me-1 text-primary"></i>
                                </a>
                                <a href="javascript:;" class="btn border border-secondary rounded-pill px-3 text-primary btnAddToWishlist" data-id="@Model.Id" title="Thêm vào yêu thích">
                                    <i class="fa fa-heart me-1 text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-6">
                    <div class="row g-4 fruite">
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                            id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                            aria-controls="nav-about" aria-selected="true">
                                        Chi tiết sản phẩm
                                    </button>
                                    <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                            id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                            aria-controls="nav-mission" aria-selected="false">
                                        Đánh giá sản phẩm (@ViewBag.CountReview)
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                    @Html.Raw(Model.Detail)
                                </div>
                                <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                    @Html.Action("_Load_Review", "Review", new { productId = Model.Id })
                                    <div class="d-flex">
                                        <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                        <div class="">
                                            <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                            <div class="d-flex justify-content-between">
                                                <h5>Jason Smith</h5>
                                                <div class="d-flex mb-3">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <p>
                                                The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
                                                words etc. Susp endisse ultricies nisi vel quam suscipit
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                        <div class="">
                                            <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                            <div class="d-flex justify-content-between">
                                                <h5>Sam Peters</h5>
                                                <div class="d-flex mb-3">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <p class="text-dark">
                                                The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
                                                words etc. Susp endisse ultricies nisi vel quam suscipit
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="nav-vision" role="tabpanel">
                                    <p class="text-dark">
                                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                        amet diam et eos labore. 3
                                    </p>
                                    <p class="mb-0">
                                        Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                        Clita erat ipsum et lorem et sit
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Cho ý kiến đánh giá sản phẩm-->
                    </div>
                </div>
                <div class="col-lg-8 col-xl-12">
                    @Html.Action("_Review", "Review", new { productId = Model.Id })
                    <form action="#">
                        <h4 class="mb-5 fw-bold">Leave a Reply</h4>
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="border-bottom rounded">
                                    <input type="text" class="form-control border-0 me-4" placeholder="Họ và tên *">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="border-bottom rounded">
                                    <input type="email" class="form-control border-0" placeholder="Địa chỉ email *">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4">
                                    <textarea name="" id="" class="form-control border-0" cols="30" rows="8" placeholder="Viết đánh giá cho shop *" spellcheck="false"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-end py-3 mb-5">
                                    <a href="#" class="btn border border-secondary text-primary rounded-pill px-4 py-3"> Đăng lên</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Sản phẩm cùng loại -->
            <h1 class="fw-bold mb-0 mt-5">Sản phẩm cùng loại</h1>
            @Html.Action("RelatedProducts", "Products", new { categoryId = Model.ProductCategoryId, currentProductId = Model.Id })
        </div>
    </div>
}