@model PagedList.IPagedList<WebBanHangOnline.Models.EF.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">@ViewBag.Title</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fresh fruits shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <!-- Tìm kiếm -->
                            @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                            {
                                <div class="input-group mb-4">
                                    @Html.TextBox("search", ViewBag.Search as string, new { @class = "form-control p-3", @id = "searchBox", placeholder = "Tìm sản phẩm..." })
                                    <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                </div>
                            }
                            @*<input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>*@
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Sắp xếp:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="volvo">Nothing</option>
                                <option value="saab">Popularity</option>
                                <option value="opel">Organic</option>
                                <option value="audi">Fantastic</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Danh mục sản phẩm</h4>
                                    @Html.Action("MenuProductCategory", "Menu")
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Giá</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Size</h4>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                        <label for="Categories-1"> Organic</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                        <label for="Categories-2"> Fresh</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                        <label for="Categories-3"> Sales</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                        <label for="Categories-4"> Discount</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Expired</label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-12">
                    <h4 class="mb-3">Sản phẩm nổi bật</h4>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                            <img src="~/Content/servers/img/featur-1.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div>
                            <h6 class="mb-2">Big Banana</h6>
                            <div class="d-flex mb-2">
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="d-flex mb-2">
                                <h5 class="fw-bold me-2">2.99 $</h5>
                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                            <img src="~/Content/servers/img/featur-2.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div>
                            <h6 class="mb-2">Big Banana</h6>
                            <div class="d-flex mb-2">
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="d-flex mb-2">
                                <h5 class="fw-bold me-2">2.99 $</h5>
                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                            <img src="~/Content/servers/img/featur-3.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div>
                            <h6 class="mb-2">Big Banana</h6>
                            <div class="d-flex mb-2">
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="d-flex mb-2">
                                <h5 class="fw-bold me-2">2.99 $</h5>
                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                    </div>
                </div>*@
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center" id="product-container">
                            <!--Html.Action("Partial_ItemsByCateId", "Products", new { categoryId = 0 })--> <!-- mặc định nếu muốn -->
                            @Html.Action("Partial_ItemsByCateId", "Products")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script>
        $(document).on("click", ".pagination a", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");

            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $("#product-container").html(result);
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi tải dữ liệu.");
                }
            });
        });
    </script>

    <script>
        $(function () {
            // Autocomplete cho search box
            $("#searchBox").autocomplete({
                source: '/Products/GetSuggestions',
                minLength: 2
            });

            // Lọc sản phẩm theo danh mục
            $(document).on('click', '.cate-filter', function () {
                var categoryId = $(this).data("id");
                loadProducts(categoryId);
            });

            // Xử lý thêm vào giỏ hàng
            $(document).on('click', '.btnAddToCart', function (e) {
                e.preventDefault();
                var productId = $(this).data('id');
                addToCart(productId);
            });
            // Bắt sự kiện click vào nút phân trang
            $(document).on('click', '.pagination a', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                loadProductsWithPaging(url);
            });

            // Hàm load sản phẩm kèm phân trang
            function loadProductsWithPaging(url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (res) {
                        $('#product-container').html(res);
                    },
                    error: function () {
                        alert('Không thể tải sản phẩm.');
                    }
                });
            }
            // Hàm load sản phẩm
            function loadProducts(categoryId) {
                $.ajax({
                    url: '/Products/Partial_ItemsByCateId',
                    type: 'GET',
                    data: { categoryId: categoryId },
                    success: function (res) {
                        $('#product-container').html(res);
                    },
                    error: function () {
                        alert('Không thể tải sản phẩm.');
                    }
                });
            }

            // Hàm thêm vào giỏ hàng
            function addToCart(productId) {
                $.ajax({
                    url: '@Url.Action("AddToCart", "ShoppingCart")',
                    type: 'POST',
                    data: { id: productId, quantity: 1 },
                    success: function (response) {
                        if (response.success) {
                            // Cập nhật số lượng giỏ hàng
                            $('#cartCount').text(response.count);

                            // Hiển thị thông báo
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành công!',
                                text: 'Đã thêm sản phẩm vào giỏ hàng',
                                timer: 1500,
                                showConfirmButton: false
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: 'Không thể thêm sản phẩm vào giỏ hàng'
                        });
                    }
                });
            }

            // Cập nhật số lượng giỏ hàng
            //function updateCartCount(count) {
            //    $('.cart-count').text(count);
            //}
        });
    </script>
    <script>
    $(document).ready(function() {
        // Load số lượng giỏ hàng khi trang được tải
        updateCartCount();

        // Hàm cập nhật số lượng giỏ hàng
        function updateCartCount() {
            $.get('@Url.Action("ShowCount", "ShoppingCart")', function(data) {
                $('#cartCount').text(data.Count);
            }).fail(function() {
                console.error('Không thể cập nhật số lượng giỏ hàng');
            });
        }

        // Gọi hàm này sau khi thêm sản phẩm thành công
        window.updateCartCount = updateCartCount;
    });
    </script>
}
