@model WebBanHangOnline.Models.EF.News
@{ ViewBag.Title = "Thêm mới tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        @using (Html.BeginForm("Add", "News", FormMethod.Post))
                        {
            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false)
                                            <form class="" action="" method="post" novalidate>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Tiêu đề <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="Title" required="required" />
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Thuộc danh mục <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        @Html.DropDownListFor(m => m.CategoryId, Model.Category, "Chọn danh mục", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Ảnh đại diện <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Image, new { @id = "txtImage", @class = "form-control", @title = "Đường dẫn ảnh" })
                                                            <span class="input-group-btn">
                                                                <input type="button" value="Chọn ảnh" class="btn btn-primary" onclick="BrowseServer('txtImage');">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Mô tả <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <textarea required="required" name="Description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Chi tiết tin tức <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" })
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">SeoTitle <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <textarea required="required" name="SeoTitle"></textarea>
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">SeoDescription <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <textarea required="required" name="SeoDescription"></textarea>
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">SeoKeywords <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <textarea required="required" name="SeoKeywords"></textarea>
                                                    </div>
                                                </div>
                                                <div class="ln_solid">
                                                    <div class="form-group">
                                                        <div class="col-md-6 offset-md-3">
                                                            <button type='submit' class="btn btn-success">Thêm mới</button>
                                                            <button type='reset' class="btn btn-primary">Nhập lại</button>
                                                            <a href="/admin/news" class="btn btn-danger">Trở về</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Kiểm tra CKEditor đã được tải chưa
        if (typeof CKEDITOR !== "undefined") {
            CKEDITOR.replace('txtDetail', {
                filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
                filebrowserUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                filebrowserImageUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images'
            });

            // Tích hợp CKFinder vào CKEditor
            CKFinder.setupCKEditor(null, '/ckfinder/');
        } else {
            console.error("CKEditor chưa được tải.");
        }

        // Hàm mở CKFinder để chọn ảnh và gán URL vào trường nhập liệu
        window.BrowseServer = function (fieldId) {
            if (typeof CKFinder !== "undefined") {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    document.getElementById(fieldId).value = fileUrl; // Gán đường dẫn vào textbox
                };
                finder.popup();
            } else {
                console.error("CKFinder chưa được tải.");
            }
        };
    });
</script>

