@model WebBanHangOnline.Models.EF.News
@{
    ViewBag.Title = "Cập nhật tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/admin">Trang chủ</a> /</span> @ViewBag.Title</h4>

    <!-- Basic Layout -->

    @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { id = "form-add" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">@ViewBag.Title</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Tiêu đề bài viết</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Tiêu đề bài viết", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Hình ảnh đại diện</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.Image, new { @id = "txtImage", @class = "form-control", @title = "Đường dẫn ảnh" })
                                <button type="button" class="btn btn-primary" onclick="BrowseServer('txtImage');">Chọn ảnh</button>
                            </div>
                            <img id="previewImage" src="@Model.Image" style="margin-top:10px; max-height:150px;" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Danh mục</label>
                            @Html.DropDownListFor(x => x.CategoryId, ViewBag.Category as SelectList, "- Chọn danh mục -", new { @class = "form-select", required = "required", @data_parsley_trigger = "change" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Giới thiệu ngắn</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Description", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">SeoTitle</label>
                            @Html.TextBoxFor(x => x.SeoTitle, new { @class = "form-control", placeholder = "SeoTitle", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">SeoKeywords</label>
                            @Html.TextBoxFor(x => x.SeoKeywords, new { @class = "form-control", placeholder = "SeoKeywords", required = "required", @data_parsley_required_message = "Không được để trống" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Chi tiết tin tức</label>
                            @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" })
                        </div>
                        <div class="form-check mt-3">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input", @checked = "checked" })
                            <label class="form-check-label">Hiển thị tất cả các trang</label>
                        </div>
                        <!-- Nút submit -->
                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <a href="/admin/news" type="button" class="btn rounded-pill btn-outline-secondary">Trở lại</a>
                                <button type="submit" class="btn rounded-pill btn-outline-success">Sửa lại</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- / Content -->
@section  scripts{
    <script>
        function BrowseServer(inputId) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(inputId).value = fileUrl;
                document.getElementById('previewImage').src = fileUrl;
            };
            finder.popup();
        }

        // CKEditor
        CKEDITOR.replace('txtDetail', {
            customConfig: '/content/ckeditor/config.js',
            extraAllowedContent: 'span',
        });
    </script>
}