@model WebBanHangOnline.Models.EditAccountViewModel
@{ ViewBag.Title = "Cập nhật tài khoản"; }

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Sửa tài khoản người quản trị</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false)
                                            <form class="" action="" method="post" novalidate>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Họ và tên <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Tên tài khoản <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @readonly = "true" })
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Email <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Số điện thoại <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Quyền <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        @Html.DropDownListFor(x => x.Roles, ViewBag.Role as SelectList, "- Chọn quyền -", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="ln_solid">
                                                    <div class="form-group">
                                                        <div class="col-md-6 offset-md-3">
                                                            <button type='submit' class="btn btn-success">Sửa</button>
                                                            <a href="/Admin/Account" class="btn btn-primary">Trở lại</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
